In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sqlalchemy import create_engine
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from matplotlib import rcParams
%matplotlib inline

In [2]:
data = pd.read_csv('general_data.csv')
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
print(data.isna().sum(), data.isnull().sum())

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64 Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [4]:
data=data.drop(columns=['NumCompaniesWorked','TotalWorkingYears'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  Over18                   4410 non-null   object
 15  PercentSalaryHike        4410 non-null   int64
 16  StandardHours            4410 non-null   int64
 17  StockOptionLevel         4410 non-null   int64
 18  TrainingTimesLastYear    4410 non-null   int64
 19  YearsAtCompany           4410 non-null   int64
 20  YearsSinceLastPromotion  4410 non-null   int64
 21  YearsWithCurrManager     4410 non-null   int64
dtypes: int64(14), object(8)
memory usage: 758.1+ KB

In [5]:
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [6]:
enc = LabelEncoder()
#List of varibales that need to be endocded... EmployeeID,YearsAtCompany ,YearsSinceLastPromotion ,YearsWithCurrManager 
#doesnt need to be coded as the data is already unique
CatVarList = ['Attrition','BusinessTravel','Department','DistanceFromHome','EducationField','Gender',
             'EmployeeCount','JobRole','MaritalStatus','Over18']
             
for i in CatVarList:
    data[[i]] = enc.fit_transform(data[[i]])

# EmployeeId. is like id column So can be removed.
data.drop('EmployeeID', inplace=True, axis=1)
    
data.info()

C:\Users\user\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int32
 2   BusinessTravel           4410 non-null   int32
 3   Department               4410 non-null   int32
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   int32
 7   EmployeeCount            4410 non-null   int64
 8   Gender                   4410 non-null   int32
 9   JobLevel                 4410 non-null   int64
 10  JobRole                  4410 non-null   int32
 11  MaritalStatus            4410 non-null   int32
 12  MonthlyIncome            4410 non-null   int64
 13  Over18                   4410 non-null   int32
 14  PercentSalaryHike        4410 non-null   int64
 15  StandardHours            4410 non-null   int64
 16  StockOptionLevel         4410 non-null   int64
 17  TrainingTimesLastYear    4410 non-null   int64
 18  YearsAtCompany           4410 non-null   int64
 19  YearsSinceLastPromotion  4410 non-null   int64
 20  YearsWithCurrManager     4410 non-null   int64
dtypes: int32(8), int64(13)
memory usage: 585.8 KB

In [37]:
y = data.Attrition
X = data.loc[:,['Department','MonthlyIncome','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager','Age','BusinessTravel','DistanceFromHome']]

In [38]:
from sklearn.linear_model import LogisticRegression
model_logr = LogisticRegression()

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.3,random_state=10)

In [40]:
model_logr.fit(X_train,y_train)

LogisticRegression()

In [41]:
y_predict = model_logr.predict(X_test)

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.85      1.00      0.92      1131
           1       0.00      0.00      0.00       192

    accuracy                           0.85      1323
   macro avg       0.43      0.50      0.46      1323
weighted avg       0.73      0.85      0.79      1323

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [43]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_predict)

array([[1131,    0],
       [ 192,    0]], dtype=int64)