In [56]:
import pandas as pd
dataset=pd.read_csv("titanic.csv")
dataset

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
884,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
885,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,45.0,1,2,W./C. 6607,23.4500,NaN,S
886,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
887,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [57]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [58]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [59]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [60]:
le=preprocessing.LabelEncoder()
em=preprocessing.LabelEncoder()

In [61]:
le.fit(dataset["Sex"])
em.fit(dataset["Embarked"])

LabelEncoder()

In [62]:
print(le.classes_,em.classes_)

['female' 'male'] ['C' 'Q' 'S']

In [63]:
dataset["Sex"]=le.transform(dataset["Sex"])
dataset["Embarked"]=em.transform(dataset["Embarked"])

In [64]:
y=dataset["Pclass"]

In [65]:
X=dataset.drop(["PassengerId","Ticket","Name","Cabin"],axis=1)

In [66]:
y.count()

888

In [67]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [68]:
X_train.head()

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
350         0       3    1  15.0      1      1   7.2292         0
124         1       3    1  12.0      1      0  11.2417         0
577         1       3    1  32.0      0      0   7.9250         2
422         0       3    1  18.0      1      1  20.2125         2
118         0       3    0   2.0      4      2  31.2750         2

In [69]:
X_train.shape

(621, 8)

In [70]:
y_train.shape

(621,)

In [71]:
X_test.shape

(267, 8)

In [72]:
y_test.shape

(267,)

In [73]:
from sklearn.naive_bayes import *
clf=BernoulliNB()

In [74]:
y_pred=clf.fit(X_train,y_train).predict(X_test)

In [75]:
accuracy_score(y_test,y_pred,normalize=True)

0.6104868913857678

In [76]:
confusion_matrix(y_test,y_pred)

array([[ 34,   0,  31],
       [ 17,   2,  28],
       [ 25,   3, 127]], dtype=int64)

In [77]:
data=pd.read_csv("titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [78]:
data=data.drop(["PassengerId","Name","Ticket","Cabin"],axis=1)

In [79]:
le=preprocessing.LabelEncoder()

In [80]:
data["Sex"]=le.fit_transform(data["Sex"])
data["Embarked"]=le.fit_transform(data["Embarked"])

In [81]:
def navmodel(col):
    a=data.drop([col],axis=1)
    b=data[col]
    train_a,test_a,train_b,test_b=train_test_split(a,b,test_size=0.2,random_state=0)
    model=GaussianNB()
    model.fit(train_a,train_b)
    ypred=model.predict(test_a)
    print("==================================================================")
    print(f"Accuracy score is {accuracy_score(test_b,ypred)}")
    print("==================================================================")
    print(f"Confusion matrix:\n{confusion_matrix(test_b,ypred)}")
    print("==================================================================")

In [82]:
navmodel('Pclass')

==================================================================
Accuracy score is 0.7303370786516854
==================================================================
Confusion matrix:
[[31  6  6]
 [ 2 14 15]
 [ 1 18 85]]
==================================================================

In [83]:

navmodel('SibSp')

==================================================================
Accuracy score is 0.5786516853932584
==================================================================
Confusion matrix:
[[90  4  0 27  1  0  0]
 [19  6  0 13  2  0  0]
 [ 4  1  1  1  1  0  0]
 [ 0  0  0  2  2  0  0]
 [ 0  0  0  0  1  0  0]
 [ 0  0  0  0  0  1  0]
 [ 0  0  0  0  0  0  2]]
==================================================================

In [84]:
navmodel('Sex')

==================================================================
Accuracy score is 0.7191011235955056
==================================================================
Confusion matrix:
[[31 29]
 [21 97]]
==================================================================

In [85]:
navmodel('Parch')

==================================================================
Accuracy score is 0.2696629213483146
==================================================================
Confusion matrix:
[[40 11  0 20 65  0]
 [ 3  3  1  7  8  0]
 [ 5  2  5  3  3  0]
 [ 0  0  0  0  1  0]
 [ 0  0  0  0  0  1]
 [ 0  0  0  0  0  0]]
==================================================================

In [86]:
navmodel('Embarked')

==================================================================
Accuracy score is 0.6966292134831461
==================================================================
Confusion matrix:
[[16  6 15]
 [ 0 11  5]
 [ 8 20 97]]
==================================================================