In [26]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split

In [27]:
Attrition = pd.read_csv('general_data.csv')
Attrition.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [28]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
Attrition.Department = enc.fit_transform(Attrition.Department)

In [29]:
y = Attrition.Attrition
X = Attrition.loc[:,['Department','TrainingTimesLastYear','YearsSinceLastPromotion']]

In [31]:
from sklearn.metrics import accuracy_score
X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=Attrition.Attrition,random_state=20) 
model=DecisionTreeClassifier(random_state=10, max_depth=5)
###Decision trees in scikit-learn are implemented in the DecisionTreeRegressor 
##and DecisionTreeClassifier classes. Scikit-learn only implements pre-pruning, not post- pruning.
model.fit(X_train,y_train)
print("accuracy on training set: %f" % model.score(X_train, y_train))
print('\n'"accuracy on test set: %f" % model.score(X_test, y_test))
y_predict = model.predict(X_test)
pd.crosstab(y_test,y_predict)

accuracy on training set: 0.839432

accuracy on test set: 0.836809

col_0       No  Yes
Attrition
No         923    2
Yes        178    0